.heading h1 {
    font: bold 3vw "Roboto", serif;
}

.project {
    border: 1px solid #aaa;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
}
.project .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project .description h1 {
    font: 500 1.8rem 'Roboto', serif;
}
.project .description h4 {
    font: 400 1rem 'Roboto', serif;  
    margin-top: 0; 
}
.project .description p {
    font: 300 1rem 'Roboto', serif;
}





@media screen and (max-width:600px) {

    .heading h1 {
        font: bold 6vw "Roboto", serif;
    }
    
}