.heading h1 {
    font: 3vw Georgia, serif;
}

.project {
    box-shadow: 0px 0px 10px #aaa;
}

.projects .project .heading h1 {
    font: 3vw Georgia, serif;
}

.projects .project .description h3 {
    font-size: 1.5vw;
    text-decoration: underline;
}

.projects .project .description p {
    font-size: 1.3vw;
    font-weight: 200;
}

.projects .project .description h4 {
    font-size: 1.5vw;
    text-decoration: underline;
}

.projects .project .description h5 {
    font-size: 1.3vw;
    font-weight: 600;
}

.projects .project .description ul li,
.projects .project .description ol li {
    font-size: 1.2vw;
    line-height: 2;
}

.projects .project .description button {
    font-size: 1vw;
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    .heading h1 {
        font: 6vw Georgia, serif;
    }

    .projects .project .heading h1 {
        font: 4.8vw Georgia, serif;
    }

    .projects .project .description h3 {
        font-size: 3.5vw;
        text-decoration: underline;
    }

    .projects .project .description p {
        font-size: 3vw;
        font-weight: 200;
    }

    .projects .project .description h4 {
        font-size: 3.5vw;
        text-decoration: underline;
    }

    .projects .project .description h5 {
        font-size: 3.3vw;
        font-weight: 600;
    }

    .projects .project .description ul,
    .projects .project .description ol {
        padding-left: 25px;
    }

    .projects .project .description ul li,
    .projects .project .description ol li {
        font-size: 3.2vw;
    }

    .projects .project .description button {
        font-size: 3vw;
        margin-top: 10px;
    }
    
}