.about .heading h1 {
    font: bold 3rem 'Roboto', serif;
}

.about-image {
    display: grid;
    place-content: center; 
}
.about-image img {
    width: 30rem; 
    filter: drop-shadow(2px 2px 5px #555);
}

.content {
    display: grid;
    place-content: center; 
    padding-right: 0;
}
.content h1 {
    color: blueviolet;
}
.content p {
    text-align: justify;
}

td {
    border: none !important;
    padding-left: 0 !important;
}
td i {
    color: blueviolet;
}

.detail {
    font-weight: bold;
}


@media screen and (max-width: 426px) {
    .about .heading h1 {
        font: bold 2rem 'Roboto', serif;
    }
    .about-image img {
        width: 25rem; 
    }

    .content {
        margin-top: 4rem;
    }
    .content h1 {
        text-align: center;
    }
}

@media screen and (max-width:321px) {
    table {
        font-size: 13px;
    }
}