

.box {
    padding: 10px;
    box-shadow: 2px 2px 10px #aaa;
    margin-bottom: 30px;
    border-radius: 20px;
}

.box .head h3 {
    letter-spacing: 2px;
}

.box .tech {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));

    padding: 10px;
}

.box .tech p {
    margin: 0;
    border-radius: 10px;
    padding: 7px 12px;
    text-align: center;
    cursor: default;
    transition: box-shadow 0.3s ease-in-out;
}

.html:hover {
    box-shadow: 0px 0px 8px #ff7a21;
}
.css:hover {
    box-shadow: 0px 0px 8px #2887ed;
}
.js:hover {
    box-shadow: 0px 0px 8px #d6d01c;
}
.bs:hover {
    box-shadow: 0px 0px 8px #8d03a8;
}
.rjs:hover {
    box-shadow: 0px 0px 8px #0298e3;
}

.java:hover {
    box-shadow: 0px 0px 8px #f71629;
}
.sb:hover {
    box-shadow: 0px 0px 8px #06b81d;
}
.mic:hover {
    box-shadow: 0px 0px 8px #878a87;
}

.psql:hover {
    box-shadow: 0px 0px 8px #20507a;
}
.msql:hover {
    box-shadow: 0px 0px 8px #ff7a21;
}