body {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0f0c0c;
    font-family: 'Roboto', sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* background: linear-gradient(
    to right,
    pink 0%,
    pink 50%,
    paleturquoise 50%,
    paleturquoise 100%); */
}

.info-text {
    display: grid;
    place-content: center;
    justify-content: center;
}
.info-text h1 {
    font-size: 5rem;
    font-weight: 400;
}
.info-text h1 span {
    color: blueviolet;
    font-weight: bold;
}

.info-img {
    display: grid;
    place-content: center;
}
.info-img .circle {
    background-color: blueviolet;
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    display: grid;
    place-content: center;
    /* box-shadow: 0px 0px 10px #000; */
}
.info-img .circle img {
    filter: drop-shadow(3px 3px 5px #333);
}

@media screen and  (max-width: 768px) {
    .info-text h1 {
        font-size: 3.5rem;
    }

    .info-img img {
        width: 25rem;
    }
    .info-img .circle {
        height: 20rem;
        width: 20rem;
    }
}

@media screen and  (max-width: 426px) {
    .info-text h1 {
        font-size: 3rem;
    }

    .info-img {
        margin-top: 50px;
    }
    .info-img img {
        width: 25rem;
    }
    .info-img .circle {
        height: 20rem;
        width: 20rem;
    }
}

@media screen and  (max-width: 321px) {
    .info-text h1 {
        font-size: 2.5rem;
    }

    .info-img {
        margin-top: 50px;
    }
    .info-img img {
        width: 20rem;
    }
    .info-img .circle {
        height: 15rem;
        width: 15rem;
    }
}