.navbarHeading .portfolio {
    font :  small-caps bold 20px Georgia, serif;
    letter-spacing: 5px;
    text-decoration: overline;
}

.navbar #navbarNav ul li .nav-link {
    color: #0f0c0c;
}

@media screen and (max-width : 991px) {
    .navbar .navbar-collapse  {
        padding: 20px ;
    }

    .navbar .navbar-collapse ul li:hover {
        background-color: #ccc;
    }
}